<!-- <div class="main-header">
  <div class="top-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md col-xl-4 d-flex align-items-center mb-4 mb-md-0">
          <div>
            <span class="icon">
              <i class="fa-solid fa-earth-americas"></i
            ></span>
          </div>
          <div class="navbar-brand align-items-center text">
            <span>
              <span class="g1"> Earth</span> Before <br />
              <span class="navbar-brand2">Everything Else </span>
            </span>
          </div>
        </div>
        <div class="col-md d-flex align-items-center mb-2 mb-md-0">
          <div class="box d-flex">
            <div class="icon">
              <i class="fa-solid fa-paper-plane"></i>
            </div>
            <div class="text">
              <div><span class="headerF1">Email:</span></div>
              <div>
                <strong class="headerLightText">
                  reachus@ebeeorg.com</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md d-flex align-items-center mb-2 mb-md-0">
          <div class="box d-flex">
            <div class="icon">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="text">
              <div><span class="headerF1">Call us:</span></div>
              <div>
                <strong class="headerLightText">6282713627</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md d-flex align-items-center mb-2 mb-md-0">
          <div class="box d-flex">
            <div class="icon">
              <i class="fa-solid fa-map-location-dot"></i>
            </div>
            <div class="text">
              <div><span class="headerF1">location:</span></div>
              <div>
                <strong class="headerLightText"
                  >PANAMBILLY NAGAR, Ernakulam, KOCHI</strong
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bgColor ">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        Menu <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" >
        <ul class="navbar-nav"  *ngFor="let menuItem of menuItems" >
          <li class="nav-item" routerLinkActive="active"  >
            <a class="nav-link " [routerLink]="[menuItem.path]" >{{ menuItem.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div> -->

<!-- <header id="header" class="header d-flex align-items-center">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <div class="imgDiv">
     
    </div>
   
    <nav id="navbar" class="navbar">
      <ul>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" ><a [routerLink]="['/']"  >Home</a></li>
        <li ><a  href="#about">About</a></li>
        <li><a href="#services">Products</a></li>
        <li (click)="goToBottom()"><a   >Contact us</a></li>
      </ul>
    </nav>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list" #mobileNavShow (click)="showMobileNav()"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x" #mobileNavHide (click)="closeMobileNav()"></i>

  </div>
</header>  -->
 <!-- ======= Header ======= -->
 <section id="topbar" class="topbar d-flex align-items-center">
  <div class="container d-flex justify-content-center justify-content-md-between">
    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">Cardslab.in@gmail.com</a></i>
      <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 9446247847</span></i>
    </div>
    <div class="social-links d-none d-md-flex align-items-center">
      <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
</section><!-- End Top Bar -->
<!-- End Header -->
