#navbar ul li a  {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.navbar-nav > .active > a { 
  text-decoration: underline !important;
}
.imgDiv{
width: auto;
height: 100px;
padding: 20px;
padding-left: 0px;
}
.imgDiv img{
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 12px;
}
.top-wrap {
  background: #1c1c1c !important;
  padding: 1em 3em;
}
.headerLightText {
  display: block;
  line-height: 1.4;
  color: #b5b5b5;
  font-size: 13px;
  font-weight: 400;
}

.headerF1 {
  color: #73b925;
  font-size: 13px;
}

.icon i {
  font-size: 34px;
  line-height: 1;
  color: #73b925;
}

.text {
  padding-left: 10px;
}

.navbar-brand span {
  font-weight: 800;
  font-size: 27px;
  color: #fff;
  z-index: 3;
  position: relative;
  line-height: 1.1;
  text-transform: uppercase;
}

.navbar-brand2 {
  color: #999 !important;
  text-transform: uppercase;
  font-size: 11px !important;
  display: block;
  font-weight: 600 !important;
  letter-spacing: 2px !important;
}

nav div button {
  margin-left: auto !important;
  background: white;
}

nav ul li a {
  font-size: 15px;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 25px;
  padding-right: 25px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  color: white;
}

.active {
  text-decoration: underline !important;
}
