<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
  <div class="container position-relative hero1" >
    <div class="row gy-5" data-aos="fade-in">
      <div class="col-lg-5 order-1 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start
        welcomeDiv
        "
      >
        <h2>Welcome to 
          <!-- <span class="fw-bold">Cards lab</span>  -->
        </h2>
        <div class="imgDiv">
          <img src="../../../../../../assets/images/CardslabLogo-transformed.jpg" alt="">
        </div>
       
        <div>
          <ul
            class="d-flex p-0"
           
          >
            <li class="" style="padding-left: 0">Manufacturing</li>
            <li class="px-2">|</li>
            <li>Desigining</li>
            <li class="px-2">|</li>
            <li>Printing</li>
          </ul>
        </div>
        <p>
         <span class="fw-bold">About us:</span>
           <br>
          For the last 20 years, we have been taking pride in the products we
          create for our customers to make their business more successful and
          give them low prices and top quality products.
        </p>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="#about" class="btn-get-started">Read More</a>
        </div>
        
      </div>
      <div class="col-lg-7 order-2 order-lg-2 homeDiv">
        <div class="row gy-4 portfolio-container">
          <div  *ngFor="let p of products"  class="col-xl-3 col-6 portfolio-item filter-product">
            <div class="portfolio-wrap">
              <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" class="">
                <div class="carousel-inner">
                  <div class="carousel-item" data-bs-interval="2000"  *ngFor="let image of p?.images; let i = index"  [class.active]="i === 0">
                    <img [src]="image.url" class="d-block w-100" [alt]="image.alt">
                  </div>                 
                </div>
              </div>
              <div class="portfolio-info">
                <h4><a (click)= 'redirect(p.product_id)'  title="More Details">{{p?.product_name}}</a></h4>
                <p>{{p?.short_description}}</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

           


        </div>
      </div>
    </div>
  </div>

  <div class="icon-boxes position-relative">
    <div class="container position-relative">
      <div class="row gy-4 mt-5 secondPortion">
        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-easel"></i></div>
            <h4 class="title">
              <a href="#about" class="stretched-link">About us</a>
            </h4>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-gem"></i></div>
            <h4 class="title">
              <a href="#services" class="stretched-link">Our Products</a>
            </h4>
          </div>
        </div>
        <!--End Icon Box -->
        <!--End Icon Box -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon">
              <i class="bi bi-geo-alt"></i></div>
            <h4 class="title">
              <a (click)="goToBottom()" class="stretched-link">Contact us</a>
            </h4>
          </div>
        </div>
        <!--End Icon Box -->
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->
<main id="main">
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>About Us</h2>
        <h3>We care about your concern's</h3>    
      </div>

      <div class="row gy-4">
        <div class="col-lg-6">
      
          <p> Welcome to <b>Cardslab </b> , We're a family-owned business with a passion for providing quality products and exceptional customer service.</p>
          <img src="assets/img/hero-img.svg" class="img-fluid rounded-4 mb-4" alt="">
             <!-- <img
          src="assets/img/hero-img.svg"
          class="img-fluid welcomeImage blur"
          alt=""
          data-aos="zoom-out"
          data-aos-delay="100"
        /> -->
          <p>Cardslab Cochin, India’s leading firm, Manufacturing a wide range  of cards like PVC Cards,  Digital cards, Plastic cards, Loyalty / Membership Cards, Student ID Cards and ID card accessories like various types of Lanyards, Yoyo reel, Card holder  and button badges etc. </p>
        </div>
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              Our aim is to  provide you with finest quality products and make on-time deliveries at economic rates We look forward for creating eternal relationships with the customers by providing good service.
            </p>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i> Our products are designed and crafted with care and attention to detail. We use high-quality materials and skilled craftsmanship to ensure that each item is built to last.</li>
              <li><i class="bi bi-check-circle-fill"></i> We stand behind the quality of our products with a satisfaction guarantee. If you're not completely satisfied with your purchase, we'll work with you to make it right.</li>
              <li><i class="bi bi-check-circle-fill"></i> We constantly strive to improve our products and processes to ensure that we're delivering the best possible quality to our customers.</li>
            </ul>
            <p>
              Our team is passionate about helping customers find the perfect piece to express their personal style. We strive to create a welcoming and inclusive atmosphere where everyone feels valued and appreciated.
            </p>

            <!-- <div class="position-relative mt-4">
              <img src="assets/img/about-2.jpg" class="img-fluid rounded-4" alt="">
              <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
            </div> -->
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->
  <!-- ======= Our Services Section ======= -->
  <section id="services" class="services sections-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Products</h2>
        <p>Cards lab deals with a wide range of quality product's and services.</p>
      </div>

      <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-4 col-md-6">
          <div class="service-item  position-relative">
            <div class="icon">
              <i class="bi bi-person-badge"></i>
            </div>
            <h3>ID CARD</h3>
            <p>Cardslab, supply a large assortment of card accessories that are appropriate for various card products.</p>
            <div class="collapse" id="collapseExample">
              <div class="">
               <ul style="list-style:none; padding:0px;">
                <li class="headerli fw-bold">Students Card</li>
                <li class="bodyli">
                  <p>Student IDs help a safe campus environment. Designed with school colors and mascots, they boost school spirit. For student id cards, first we will collect data and take photos at your school site. After finalizing the design, we will send proof with original data, design & photo. After completing correction, print the final card and deliver at your school</p>
                </li>
                <li class="headerli fw-bold">Faculty and Staff ID Cards</li>
                <li class="bodyli">
                  <p>Staff  ID card systems allow easy identification .We improve your ID cards by adding logos and mascot images.</p>
                </li>
                <li class="headerli fw-bold">Privilege Card/ Loyalty Card / Membership Card</li>
                <li class="bodyli">
                  <p>Customer-loyalty cards are commonly used as  marketing  tool . These membership cards are offered by us in different designs, styles and colours.</p>
                </li>
                <li class="headerli fw-bold">HOTEL KEY CARDS</li>
                <li class="bodyli">
                  <p>We design and print beautiful hotel key cards.</p>
                </li>
                <li class="headerli fw-bold">LUGGAGE TAGS</li>
                <li class="bodyli">
                  <p>We produce luggage tags in varied attractive designs. These luggage tags are preferred by hotels, airlines, conferences, marriages, etc.</p>
                </li>
               </ul>
              </div>
              </div>
            <a  class="readmore stretched-link"
            data-bs-toggle="collapse" href="#collapseExample"  role="button" aria-expanded="false" aria-controls="collapseExample"
            (click)="collapse1 =!collapse1"
            >
            <span *ngIf="!collapse1" > Read more</span> 
            <span *ngIf="collapse1"  > Read Less</span> 
            <i class="fa mx-2" [ngClass]="{'fa-angle-up': collapse1, 'fa-angle-down': !collapse1}"
              ></i>
           </a>
        </div>
      </div>
    
          


        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class=" bi bi-tags"></i>
            </div>
            <h3>LANYARD</h3>
            <p>We provide premium quality lanyards, using good quality materials.</p>
            <div class="collapse" id="collapseExample1">
              <div class="">
               <ul style="list-style:none; padding:0px;">
                <li class="headerli fw-bold">Multi Colour Lanyard (12 mm / 16 mm / 20 mm)</li>
                <li class="bodyli">
                  <p>Multicolored Lanyards are available in all the colors and the most corporate way </p>
                </li>
                <li class="headerli fw-bold">Polyester Lanyards</li>
                <li class="bodyli">
                  <p>We have custom printed polyester lanyards for schools, clubs and fundraising functions.  You can print your own custom logos and text on our lanyards.</p>
                </li>
                <li class="headerli fw-bold">Tubular</li>
                <li class="bodyli">
                  <p>Custom printed tube lanyards also designed by us. You can print your own logos and text in lanyards.</p>
                </li>
                <li class="headerli fw-bold">Nylon Lanyards</li>
                <li class="bodyli">
                  <p>We  provide custom printed nylon  economical lanyards  also,  to display name tags, badges and more for  your next event, tradeshow or company meeting, school clubs and fundraising.</p>
                </li>
               </ul>
              </div>
              </div>
            <a  class="readmore stretched-link"
            data-bs-toggle="collapse" href="#collapseExample1"  role="button" aria-expanded="false" aria-controls="collapseExample1"
            (click)="collapse2 =!collapse2"
            >
            <span *ngIf="!collapse2" > Read more</span> 
            <span *ngIf="collapse2"  > Read Less</span> 
            <i class="fa mx-2" [ngClass]="{'fa-angle-up': collapse2, 'fa-angle-down': !collapse2}"
              ></i>
           </a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <h3>CARD HOLDERS</h3>
            <p>It is used to keep your card safe from damage. We are supplying most reliable Card Holders both horizontal and vertical orientations.</p>
            <div class="collapse" id="collapseExample2">
              <div class="">
               <ul style="list-style:none; padding:0px;">
                <li class="headerli fw-bold">Proximity card holders</li>
                <li class="bodyli">
                  <p>Available in ISO standard sizes, easy to use with yoyo reel, lanyard or strap. It is also available in horizontal and vertical orientations.</p>
                </li>
                <li class="headerli fw-bold">Holders for conventions</li>
                <li class="bodyli">
                  <p>Cardslab offers both economy and premium  holders use at meetings and conventions. Available in horizontal & vertical orientations.</p>
                </li>
                <li class="headerli fw-bold">POUCHES</li>
                <li class="bodyli">
                  <p>We supply the finest quality pouches.</p>
                </li>
               </ul>
              </div>
              </div>
            <a  class="readmore stretched-link"
            data-bs-toggle="collapse" href="#collapseExample2"  role="button" aria-expanded="false" aria-controls="collapseExample2"
            (click)="collapse3 =!collapse3"
            >
            <span *ngIf="!collapse3"> Read more</span> 
            <span *ngIf="collapse3"> Read Less</span> 
            <i class="fa mx-2" [ngClass]="{'fa-angle-up': collapse3, 'fa-angle-down': !collapse3}"
              ></i>
           </a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-bounding-box-circles"></i>
            </div>
            <h3>YOYO (RETRACTABLE BADGES)</h3>
            <p>We provide excellent quality badges and id card yo-yo are available in varied designs, sizes, colours, etc, and can also be customised to have Company Logo doom sticker branding. ID Badge Reel.</p>
            <div class="collapse" id="collapseExample3">
              <div class="">
                <p>Customize your look by shopping our reel selection containing many varieties based on color, shape like round, ovel, square and  materials like plastic , steel etc.</p>
                
                <ul style="list-style:none; padding:0px;">
                <li class="headerli fw-bold">Available yoyo's are</li>
                <li class="bodyli">
                  <p>Round</p>
                </li>
                <li class="bodyli">
                  <p>OVEL</p>
                </li>
                <li class="bodyli">
                  <p>Square</p>
                </li>
                <li class="bodyli">
                  <p>Steel</p>
                </li>
                <li class="bodyli">
                  <p>Plastic</p>
                </li>
               
               </ul>
              </div>
              </div>
            <a  class="readmore stretched-link"
            data-bs-toggle="collapse" href="#collapseExample3"  role="button" aria-expanded="false" aria-controls="collapseExample3"
            (click)="collapse4 =!collapse4"
            >
            <span *ngIf="!collapse4"> Read more</span> 
            <span *ngIf="collapse4"> Read Less</span> 
            <i class="fa mx-2" [ngClass]="{'fa-angle-up': collapse4, 'fa-angle-down': !collapse4}"
              ></i>
           </a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-p-circle"></i>
            </div>
            <h3>Button Badges / Event Badges</h3>
            <p>Button badges were made with your campaign or cause in mind so let us help you spread the word. We supply button badges to campaigns, gatherings, schools, Colleges, institutions, etc.</p>
            <div class="collapse" id="collapseExample4">
              <div class="">
                <p>We can print, photos, logos, messages, etc. 
                 Available sizes are 25 mm, 38 mm,  55 mm, 76 mm dias
                 and also availbel in the Material steel & Plastic
                  </p>
               <ul style="list-style:none; padding:0px;">
                <li class="headerli fw-bold">Event Badges</li>


               </ul>
                  <p>
                An event name badge consists of a badge displayed in  neck lanyard or on clothes with the event attendees name and information, like title and the organizer’s logo etc. A personalized badge with the badge holder’s name and other details can be a solid conversation starter.
               </p>

               
              </div>
              </div>
            <a  class="readmore stretched-link"
            data-bs-toggle="collapse" href="#collapseExample4"  role="button" aria-expanded="false" aria-controls="collapseExample4"
            (click)="collapse5 =!collapse5"
            >
            <span *ngIf="!collapse5"> Read more</span> 
            <span *ngIf="collapse5"> Read Less</span> 
            <i class="fa mx-2" [ngClass]="{'fa-angle-up': collapse5, 'fa-angle-down': !collapse5}"
              ></i>
           </a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-chat-square-text"></i>
            </div>
            <h3>Name Plates / Name badges</h3>
            <p>Name-plates are available in a wide range of sizes in Acrylic, Plastic and Steel with back side pin/ clip/ magnetic. Available in Standard sizes. Suitable for Students, Officers, Hospitals, Hotels etc, House Names/ Number, Table Top board etc.</p>
           
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-trophy"></i>
            </div>
            <h3>MEMENTO/ TROPHY / MEDAL</h3>
            <p>Memento /Trophy /Medal  are typically used to recognise sporting / academic achievement /  performance recognition. Wide  range of medals  are available with attractive packing.</p>
          </div>
        </div><!-- End Service Item -->
        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-sticky"></i>
            </div>
            <h3>Doom Stickers</h3>
            <p>These Doom Stickers are  used to display company logo or theme on flat, clean and smooth surface by peeling the back . Doom Stickers are available in different sizes, shapes and in multicolor.</p>
          </div>
        </div><!-- End Service Item -->
        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-clipboard-pulse"></i>
            </div>
            <h3>School Student Belts</h3>
            <p>We are offering a quality assortment of School Belts with Emblem to our clients. Cardslab offering various kinds of school belts and corporate belts along with logo. Manufactured from finest quality cotton and polyester, these are available in various sizes, patterns and designs. Belt buckles are available in metal powder coated, steel powder coated , high quality steel engraved etc.</p>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section><!-- End Our Services Section -->
</main>
<div class="wa-icon" style="padding: 10px; right: 15px">
  <a
    href="https://api.whatsapp.com/send/?phone=9446247847&text=Hi&app_absent=0"
    target="blank"
    title="Chat with us on whatsapp"
  >
    <div class="d-flex text-center">
      <div class="waImg mx-2">
        <img src="../../../assets/images/whatsapp.png" alt="" />
      </div>
      <div class="waText">Whatsapp</div>
    </div>
  </a>
</div>
